
$pink:#E6BEBE;
$lightpink:#F5D7D7;
$gray:#999999;
$green:#597344;

$menuItemsColor: #999999;
$red: #E84A43;
$ligth: #F5D7D7;
$hover-color: #E6BEBE;


$menu-font: 16px;
$font-small: 12px;
$font-medium: 18px;
$font-large: 24px;


$font-w-small: 400;
$font-w-medium: 600;
$font-w-bold: 800;

