$pink: #E6BEBE;
$lightpink: #F5D7D7;
$white: #ffffff;
$green: rgb(89, 115, 68);
$red: #E84A43;
$form-border: #ABA7A3;
$dark-green-transp: #012622ad;
$pink-transp: #e6bebeb0;
$prova-pink:#eccdcb;
$dark-green: #012622;
$rich-green: #003B36;
$footer-hover: #0d0d0d;




$menu-font: 16px;
$font-small: 12px;
$font-medium: 18px;
$font-medium-plus: 21px;
$font-large: 24px;
$font-medium-large: 80px;
$font-extra-large: 104px;


$font-w-small: 400;
$font-w-medium: 600;
$font-w-bold: 800;