$pink: #E6BEBE;
$lightpink: #F5D7D7;
$white: #ffffff;
$green: #384D48;
$red: #E84A43;
$background: #e0e0e0;
$form-border: #ABA7A3;
$dark-green:#012622;
$rich-green:#003B36;



$menu-font: 16px;
$font-small: 12px;
$font-medium: 18px;
$font-medium-large: 21px;
$font-large: 24px;
$font-extra-large: 104px;


$font-w-small: 400;
$font-w-medium: 600;
$font-w-bold: 800;